{% extends "geeks/index.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <div class="forma">
                <input class="input" placeholder="Titulo" required="" type="text" name="title">
                <span class="input-border"></span>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="forma">
                <input class="input" placeholder="Descripcion" required="" type="text" name="description">
                <span class="input-border"></span>
            </div>
        </div>


    </div>
    <button class="btn btn-primary" type="submit">Crear</button>
</form>
{% endblock %}