<nav class="navbar navbar-expand-lg navbar-absolute navbar-dark bg-dark" id="nav01">
    <a class="navbar-brand" href="#">ddavimo</a>
    <!-- <a href="http://www.thismanslife.co.uk" target="_blank">ddavimo</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"></ul>
        <span class="navbar-text">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>Delvis Villalobos</span>
        </span>
    </div>
</nav>
<nav class="navbar navbar-expand-lg" id="navsub">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/geeks/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/geeks/create">Crear</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/geeks/list">Listar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
</nav>